<!DOCTYPE html>
<html lang="en">
<head>
<title>Floow Drivers App</title>
<script type="text/javascript" src="app/angular.min.js"></script>	
<script type="text/javascript" src="app/app.js"></script>	
<script type="text/javascript" src="app/np-map.min.js"></script>
<link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>

<style>
.margin-top-5 {
	margin-top: 10px;
}
</style>
<body ng-app="DriversApp" ng-controller="AppCtrl">
	<div class="container" style="margin-top: 50px;">
		<!-- Login panel -->
		<div>
			<div class="panel panel-default" ng-show="!user">
				<div class="panel-heading">Login</div>
				<div class="panel-body">
					<div class="col-md-12">
						<form ng-submit="login()">
							<div class="form-group">
								<label for="username">Username:</label> <input type="txt"
									class="form-control" ng-model="username" id="username">
							</div>
							<div class="form-group">
								<label for="pwd">Password:</label> <input type="password"
									class="form-control" id="pwd" ng-model="password">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>

							<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
						</form>
					</div>
				</div>
			</div>
			<!-- End Login panel -->

			<!-- Home panel. It will visible after successfull login -->
			<div class="panel panel-default" ng-show="user">
				<div class="panel-heading">Welcome User {{user.name}}. Your Role is {{role}}</div>
				<div class="panel-body">
					<div class="col-md-24">
						<a href="#" class="btn btn-default margin-top-5" ng-click="logout()"> Logout </a> 
						<a href="#" class="btn btn-default margin-top-5" ng-click="getUserResouce(user.name)" ng-show="role == 'USER'">User Resource</a>
						<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
					
						
					    <form name="searchDriver" ng-submit="getUserResouce(driver)"  ng-show="role == 'ADMIN'" style="margin-top: 20px;">
					        <input type="search" required placeholder="Username to find" ng-model="driver" />
					        <input type="submit" value="Search">
					    </form>
					<div style="margin-top: 20px;" ng-show="role == 'ADMIN'"><h4>{{user_id}}</h4></div>   
					<div ng-show="testData.messages" style="margin-top: 20px;">
						<div ng-repeat="(key, value) in testData.messages" ng-click="setContent(value)">
							<div>
								<a href="#">{{journeyDate}}{{ key }}</a>
							</div>
						</div>
						<table class="table" ng-show="journeyData">
							<thead>
								<tr>
									<th>Time</th>
									<th>Lat</th>
									<th>Lon</th>
									<th>Speed(miles/hour)</th>
									<th>Bearing</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="message in journeyData">
									<td>{{message.time | date:'dd-MM-yyyy HH:mm:ss'}}</td>
									<td>{{message.lat}}</td>
									<td>{{message.lon}}</td>
									<td>{{message.speed * 2.236936}}</td>
									<td>{{message.bearing}}</td>
								</tr>
							</tbody>
						</table>


					</div>	
					
					</div>
				</div>
			</div>
			<!-- End Home Panel -->

		</div>
	</div>

	<!-- Including Scripts -->

</body>
</html>